<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
<!--    <link th:href="@{/static/css/chosen.min.css}" rel="stylesheet"/>-->
    <script th:src="@{/static/js/jquery.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/js/vue.js}" type="text/javascript" charset="utf-8"></script>
    <title>index</title>
</head>
<body>
Welcome

</body>
</html>
<script type="application/javascript">
    var vm = new Vue({
        el: '#vue_det',
        data: {
            site: "菜鸟教程",
            url: "www.runoob.com",
            alexa: "10000"
        },
        methods: {
            details: function() {
                return  this.site + " - 学的不仅是技术，更是梦想！";
            }
        }
    })
</script>